.indianRed {
    background-color: indianred;
    color: white;
}

.lightCoral {
    background-color: lightcoral;
    color: white;
}

.salmon {
    background-color: salmon;
    color: white;
}

.darkSalmon {
    background-color: darksalmon;
    color: white;
}

.lightSalmon {
    background-color: lightsalmon;
    color: white;
}

.crimson {
    background-color: crimson;
    color: white;
}

.fireBrick {
    background-color: firebrick;
    color: white;
}

.darkRed {
    background-color: darkred;
    color: white;
}

.pink {
    background-color: pink;
    color: white;
}

.lightPink {
    background-color: lightpink;
    color: white;
}

.hotPink {
    background-color: hotpink;
    color: white;
}

.deepPink {
    background-color: deeppink;
    color: white;
}

.mediumVioletRed {
    background-color: mediumvioletred;
    color: white;
}

.indianRed {
    background-color: indianred;
    color: white;
}

.orangeRed {
    background-color: orangered;
    color: white;
}

.darkOrange {
    background-color: darkorange;
    color: white;
}

.orange {
    background-color: orange;
    color: white;
}

.yellow {
    background-color: yellow;
    color: black;
}

.lightYellow {
    background-color: lightyellow;
    color: black;
}

.lightGoldenrodYellow {
    background-color: lightgoldenrodyellow;
    color: black;
}

.lavender {
    background-color: lavender;
    color: black;
}

.thistle {
    background-color: thistle;
    color: white;
}

.plum {
    background-color: plum;
    color: white;
}

.orchid {
    background-color: orchid;
    color: white;
}

.violet {
    background-color: violet;
    color: white;
}

.magenta {
    background-color: magenta;
    color: white;
}

.mediumOrchid {
    background-color: mediumorchid;
    color: white;
}

.mediumPurple {
    background-color: mediumpurple;
    color: white;
}

.purple {
    background-color: purple;
    color: white;
}

.indigo {
    background-color: indigo;
    color: white;
}

.slateBlue {
    background-color: slateblue;
    color: white;
}

.red {
    background-color: red;
    color: white;
}

