* {
    background-color: whitesmoke;
    font-family: roboto;
    max-width: 960px;
    margin: auto;
}

header {
    padding: 40px;
}

header h1, h2 {
    text-align: center;
}

section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    margin: 5px 5px;
    width: 175px;
    height: 175px;    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;border-radius: 15px;
}

